body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #333333;
  background-color: #DFDAC0;
}

.hero-unit {
    background-color: #CDBEA1;
}

a {
  color: #724826;
} 

hr {
  border-top: 1px solid #3C2719;
  border-bottom: 1px solid #9D794F;
}

.table-striped tbody > tr:nth-child(odd) > td, .table-striped tbody > tr:nth-child(odd) > th {
  color: black;
background-color: #BCAE94;
}

.table-striped tbody > tr:nth-child(even) > td, .table-striped tbody > tr:nth-child(even) > th {
  color: black;
}

thead {
    font-weight: bold;
}

.well {
  background-color: #CDBEA1;
}

.btn {
  background-color: hsl(39, 27%, 52%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e1d9cb", endColorstr="#a58e63");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#e1d9cb), to(#a58e63));
  background-image: -moz-linear-gradient(top, #e1d9cb, #a58e63);
  background-image: -ms-linear-gradient(top, #e1d9cb, #a58e63);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e1d9cb), color-stop(100%, #a58e63));
  background-image: -webkit-linear-gradient(top, #e1d9cb, #a58e63);
  background-image: -o-linear-gradient(top, #e1d9cb, #a58e63);
  background-image: linear-gradient(#e1d9cb, #a58e63);
  border-color: #a58e63 #a58e63 hsl(39, 27%, 44%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.52);
  -webkit-font-smoothing: antialiased;
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #3c2719;
  background-color: #bcae94;
}

.btn-primary {
  background-color: hsl(30, 47%, 12%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a4703b", endColorstr="#2c1e10");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#a4703b), to(#2c1e10));
  background-image: -moz-linear-gradient(top, #a4703b, #2c1e10);
  background-image: -ms-linear-gradient(top, #a4703b, #2c1e10);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a4703b), color-stop(100%, #2c1e10));
  background-image: -webkit-linear-gradient(top, #a4703b, #2c1e10);
  background-image: -o-linear-gradient(top, #a4703b, #2c1e10);
  background-image: linear-gradient(#a4703b, #2c1e10);
  border-color: #2c1e10 #2c1e10 hsl(30, 47%, 4%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.52);
  -webkit-font-smoothing: antialiased;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #6b492e;
}

.navbar .btn-navbar { 
    /* fix from brown to black for the top right navbar Phone/Tablet view button   */
    border-color: black;
}

.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
background-color: #9d794f;
}

.nav-header {
    color: #000;
}

/*   =====   Footer   =====   */

footer {
    position: relative;    
    height: 300px;
    margin-bottom: -40px;
    text-align: center;

}

body footer {
    padding-right: 0px;
    padding-left: 0px;
}

footer p {
    position: absolute;
    margin: 270px 20px 0px;
    color: white;
}

/* Large desktop */
@media (min-width: 1200px) {footer { background: 
        /*-Moose-*/
        url("/img/footer/moose.png") no-repeat 19% 50%,
        /*-Grass-*/
        url("/img/footer/grass.png")repeat-x 0 82%,
        url("/img/footer/grass2.png")repeat-x 2% 83%,
        url("/img/footer/grass_extend.png")  repeat-x 0 100%,
        /*-Pines 1-*/
        url("/img/footer/pine1.png")no-repeat 5% 22%,
        url("/img/footer/pine1.png")no-repeat 95% 23%,
        /*-Pines 2-*/
        url("/img/footer/pine2.png")no-repeat -4% 100%,
        url("/img/footer/pine2.png")no-repeat 12% 50%,
        url("/img/footer/pine2.png")no-repeat 84% 57%,
        url("/img/footer/pine2.png")no-repeat 102% 86%,
        /*-Background Pines-*/
        url("/img/footer/background_pines.png")  repeat-x 20% 50%,
        url("/img/footer/bg_pines_extend.png")  repeat-x 0 85%;
} }
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) {footer { background: 
        /*-Moose-*/
        url("/img/footer/moose.png") no-repeat 19% 50%,
        /*-Grass-*/
        url("/img/footer/grass.png")repeat-x 0 82%,
        url("/img/footer/grass2.png")repeat-x 2% 83%,
        url("/img/footer/grass_extend.png")  repeat-x 0 100%,
        /*-Pines 1-*/
        url("/img/footer/pine1.png")no-repeat 5% 22%,
        url("/img/footer/pine1.png")no-repeat 95% 23%,
        /*-Pines 2-*/
        url("/img/footer/pine2.png")no-repeat -4% 100%,
        url("/img/footer/pine2.png")no-repeat 12% 50%,
        url("/img/footer/pine2.png")no-repeat 84% 57%,
        url("/img/footer/pine2.png")no-repeat 102% 86%,
        /*-Background Pines-*/
        url("/img/footer/background_pines.png")  repeat-x 20% 50%,
        url("/img/footer/bg_pines_extend.png")  repeat-x 0 85%;
} }
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {footer { background: 
        /*-Moose-*/
        url("/img/footer/moose.png") no-repeat 19% 50%,
        /*-Grass-*/
        url("/img/footer/grass.png")repeat-x 0 82%,
        url("/img/footer/grass2.png")repeat-x 2% 83%,
        url("/img/footer/grass_extend.png")  repeat-x 0 100%,
        /*-Pines 1-*/
        url("/img/footer/pine1.png")no-repeat 5% 22%,
        url("/img/footer/pine1.png")no-repeat 95% 23%,
        /*-Pines 2-*/
        url("/img/footer/pine2.png")no-repeat 17% 50%,
        url("/img/footer/pine2.png")no-repeat 76% 57%,
        url("/img/footer/pine2.png")no-repeat 110% 86%,
        /*-Background Pines-*/
        url("/img/footer/background_pines.png")  repeat-x 20% 50%,
        url("/img/footer/bg_pines_extend.png")  repeat-x 0 85%;
} }
/* Landscape phones and down */
@media (max-width: 480px) {footer { 
                               background-size: cover;
                               background: 
        /*-Moose-*/
        url("/img/footer/moose.png") no-repeat 19% 50%,
        /*-Grass-*/
        url("/img/footer/grass.png")repeat-x 0 82%,
        url("/img/footer/grass2.png")repeat-x 2% 83%,
        url("/img/footer/grass_extend.png")  repeat-x 0 100%,
        /*-Pines 1-*/
        url("/img/footer/pine1.png")no-repeat 1% 22%,
        url("/img/footer/pine1.png")no-repeat 131% 22%,
        /*-Pines 2-*/
        url("/img/footer/pine2.png")no-repeat 110% 53%,
        /*-Background Pines-*/
        url("/img/footer/background_pines.png")  repeat-x 20% 50%,
        url("/img/footer/bg_pines_extend.png")  repeat-x 0 85%;
} }
